In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df = pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [10]:
df.shape

(4760, 21)

In [11]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [12]:
df_features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [13]:
df_features.shape

(4760, 5)

In [14]:
df_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [15]:
x = df_features['Movie_Genre'] + ' ' + df_features['Movie_Keywords'] + ' ' + df_features['Movie_Tagline'] + ' ' + df_features['Movie_Cast'] + ' ' + df_features['Movie_Director']

In [16]:
[12, x]

[12,
 0       Crime Comedy hotel new year's eve witch bet ho...
 1       Adventure Action Science Fiction android galax...
 2       Animation Family father son relationship harbo...
 3       Comedy Drama Romance vietnam veteran hippie me...
 4       Drama male nudity female nudity adultery midli...
                               ...
 4755    Horror  The hot spot where Satan's waitin'. Li...
 4756    Comedy Family Drama  It’s better to stand out ...
 4757    Thriller Drama christian film sex trafficking ...
 4758                                           Family
 4759    Documentary music actors legendary perfomer cl...
 Length: 4760, dtype: object]

In [17]:
x.shape

(4760,)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
tfidf = TfidfVectorizer()

In [20]:
x = tfidf.fit_transform(x)

In [21]:
x.shape

(4760, 17258)

In [22]:
print(x)

  (0, 3583)	0.06486754376295062
  (0, 3240)	0.04527089872278055
  (0, 7213)	0.25146675849405775
  (0, 10898)	0.17625708810661284
  (0, 17052)	0.26079573581490934
  (0, 5059)	0.29553419178998613
  (0, 16862)	0.12768803549311025
  (0, 1595)	0.15687561633854538
  (0, 13052)	0.1465525095337543
  (0, 15708)	0.17654247479915475
  (0, 11362)	0.18801785343006192
  (0, 6463)	0.18801785343006192
  (0, 5662)	0.1465525095337543
  (0, 13467)	0.19712637387361423
  (0, 12731)	0.19712637387361423
  (0, 614)	0.07642616241686973
  (0, 11244)	0.08262965296941757
  (0, 9206)	0.15186283580984414
  (0, 1495)	0.19712637387361423
  (0, 7454)	0.14745635785412262
  (0, 7071)	0.19822417598406614
  (0, 5499)	0.11454057510303811
  (0, 3878)	0.11998399582562203
  (0, 11242)	0.07277788238484746
  (0, 15219)	0.09800472886453934
  :	:
  (4757, 3485)	0.199161573117024
  (4757, 1184)	0.18890726729447022
  (4757, 14568)	0.24255077606762876
  (4757, 15508)	0.24255077606762876
  (4757, 5802)	0.24255077606762876
  (4757, 819)	0.27474840155297187
  (4757, 14195)	0.28805858134028367
  (4757, 2227)	0.28805858134028367
  (4757, 7691)	0.28805858134028367
  (4757, 1932)	0.28805858134028367
  (4758, 5238)	1.0
  (4759, 10666)	0.15888268987343043
  (4759, 1490)	0.21197258705292082
  (4759, 15431)	0.19628653185946862
  (4759, 5690)	0.19534291014627303
  (4759, 14051)	0.20084315377640435
  (4759, 4358)	0.18306542312175342
  (4759, 10761)	0.3126617295732147
  (4759, 7130)	0.26419662449963793
  (4759, 3058)	0.2812896191863103
  (4759, 14062)	0.3237911628497312
  (4759, 8902)	0.3040290704566037
  (4759, 205)	0.3237911628497312
  (4759, 11708)	0.33947721804318337
  (4759, 11264)	0.33947721804318337

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
Similarity_score = cosine_similarity(x)

In [25]:
Similarity_score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [26]:
Similarity_score.shape

(4760, 4760)

In [1]:
Favourate_Movie_Name = input('Enter your favourite movie name : ')

Enter your favourite movie name : M.S.Dhoni

In [27]:
All_Movies_Title_List = df['Movie_Title'].tolist()

In [44]:
import difflib

In [46]:
Movie_Recommendation = difflib.get_close_matches(Favourate_Movie_Name, All_Movies_Title_List)
print(Movie_Recommendation)
['M.S.Dhoni','Raabta']

[]

['M.S.Dhoni', 'Raabta']

In [48]:
import difflib

# ... (Your existing code to get Favourate_Movie_Name and All_Movies_Title_List) ...

Movie_Recommendation = difflib.get_close_matches(Favourate_Movie_Name, All_Movies_Title_List)

# Check if Movie_Recommendation is empty before accessing elements
if Movie_Recommendation:
    Close_Match = Movie_Recommendation[0]
    print(Close_Match)
else:
    print("No close matches found for your favourite movie.")

No close matches found for your favourite movie.

In [50]:
import difflib

# ... (Your existing code to get Favourate_Movie_Name and All_Movies_Title_List) ...

Movie_Recommendation = difflib.get_close_matches(Favourate_Movie_Name, All_Movies_Title_List)

# Check if Movie_Recommendation is empty before accessing elements
if Movie_Recommendation:
    Close_Match = Movie_Recommendation[0]  # Assign value to Close_Match if Movie_Recommendation is not empty
    print(Close_Match)
else:
    print("No close matches found for your favourite movie.")
    Close_Match = None  # Assign a default value to Close_Match if no matches are found

# ... (Rest of your code, including the line that caused the error) ...

try:
    Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
    print(Index_of_Close_Match_Movie)
except (IndexError, TypeError):  # Handle cases where Close_Match is None or the movie is not found
    print("Movie not found in the DataFrame.")

No close matches found for your favourite movie.
Movie not found in the DataFrame.

In [52]:
import difflib

# ... (Your existing code to get Favourate_Movie_Name and All_Movies_Title_List) ...

Movie_Recommendation = difflib.get_close_matches(Favourate_Movie_Name, All_Movies_Title_List)

# Check if Movie_Recommendation is empty before accessing elements
if Movie_Recommendation:
    Close_Match = Movie_Recommendation[0]  # Assign value to Close_Match if Movie_Recommendation is not empty
    print(Close_Match)
else:
    print("No close matches found for your favourite movie.")
    Close_Match = None  # Assign a default value to Close_Match if no matches are found

# ... (Rest of your code, including the line that caused the error) ...

try:
    # This line might be causing the IndexError if Close_Match is not found in the DataFrame.
    Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
    print(Index_of_Close_Match_Movie)
except (IndexError, TypeError):  # Handle cases where Close_Match is None or the movie is not found
    print("Movie not found in the DataFrame.")
    Index_of_Close_Match_Movie = None  # Assign None to Index_of_Close_Match_Movie if an error occurs


Recommendation_Score = list(enumerate(Similarity_score[Index_of_Close_Match_Movie])) if Index_of_Close_Match_Movie is not None else [] # This line is modified to check if Index_of_Close_Match_Movie is not None before using it as an index. This avoids the possibility of using an invalid or non-existent index and potentially causing an error or unexpected behavior.
print(Recommendation_Score)

No close matches found for your favourite movie.
Movie not found in the DataFrame.
[]

In [53]:
len(Recommendation_Score)

0

In [54]:
sorted_similar_movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)
print(sorted_similar_movies)

[]

In [57]:
from operator import index
print('Top 30 Movies Suggested for You : \n')
i = 1
for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if (i<31):
    print(i, '.',title_from_index) # Indented this line to be part of the 'if' block
    i+=1 # Indented this line to be part of the 'if' block as well

Top 30 Movies Suggested for You :

In [60]:
Movies_Name = input('Enter your favourite movie name : ')
list_of_all_titles = df['Movie_Title'].tolist()
Find_Close_Match = difflib.get_close_matches(Movies_Name, list_of_all_titles)

# Check if Find_Close_Match is empty before accessing elements
if Find_Close_Match:
    Close_Match = Find_Close_Match[0]
    Index_of_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]  # Access the first element (index 0)
    Recommendation_Score = list(enumerate(Similarity_score[Index_of_Movie]))
    Sorted_Similar_Movies = sorted(Recommendation_Score, key=lambda x: x[1], reverse=True)
    print('Top 10 Movies Suggested for You : \n')
    i = 1
    for movie in Sorted_Similar_Movies:
        index = movie[0]
        title_from_index = df[df.index == index]['Movie_Title'].values[0]
        if i < 11:  # Changed to 11 to print top 10
            print(i, '.', title_from_index)
            i += 1
else:
    print("No close matches found for your favourite movie.")

Enter your favourite movie name : M.S.Dhoni
No close matches found for your favourite movie.